@model PassionProject.Models.Movie

@{
    ViewBag.Title = "Show";
}

<tr id="containershow">
    <nav>
        <a class="navlink" href="/Movie/List">Back to Home</a>
        <a class="dellink" href="/Movie/DeleteConfirm/@Model.Id">Delete</a>
        <a class="navlink" href="/Movie/Update/@Model.Id">Update</a>
    </nav>
    <h2>@Model.Name</h2>
    <div>
        <p>Genre: @Model.Genre</p>
        <p>Movie ID: @Model.Id</p>
        <p>Description: @Model.Description</p>
        <p>Date of Release: @Model.DOR.ToString("yyyy-MM-dd")</p>
        <p>Cost of renting: @Model.Cost</p>
    </div>
    <table>
        <tr>
            <th>Entry ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Rented on</th>
            <th>Rented till</th>
        </tr>
        @foreach (var rental in Model.Rentals)
        {
            <tr>
                <td>@rental.Id</td>
                <td>@rental.FName</td>
                <td>@rental.LName</td>
                <td>@rental.FDate.ToString("yyyy-MM-dd")</td>
                <td>@rental.TDate.ToString("yyyy-MM-dd")</td>
            </tr>   
        }

    </table>

