@model PassionProject.Models.Movie
@{
    ViewBag.Title = "Show";
}

<nav>
    <a class="navlink" href="/Movie/List">Back to Home</a>
    <a class="navlink" href="/Movie/Update/@Model.Id">Update</a>
    <a class="dellink" href="/Movie/DeleteConfirm/@Model.Id">Delete</a>
</nav>
<div class="movieInfo">
    <h2>@Model.Name</h2>
    <img class="moviePoster" src="@Model.Poster" />
    <p>Genre: @Model.Genre</p>
    <p>Movie ID: @Model.Id</p>
    <p>Description: @Model.Description</p>
    <p>Date of Release: @Model.DOR.ToString("yyyy-MM-dd")</p>
    <p>Cost of renting: @Model.Cost</p>
</div>
<div>
    <a class="navlink" href="/Movie/NewMovieRental/@Model.Id">New Rental</a>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Entry ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Rented on</th>
            <th scope="col">Rented till</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var rental in Model.Rentals)
        {
            <tr>
                <td>@rental.Id</td>
                <td>@rental.FName</td>
                <td>@rental.LName</td>
                <td>@rental.FDate.ToString("yyyy-MM-dd")</td>
                <td>@rental.TDate.ToString("yyyy-MM-dd")</td>
                <td>
                    <a href="/Rental/Edit/@rental.Id">Update</a>
                </td>
                <td>
                    <a href="/Rental/DeleteRentalConfirm/@rental.Id">Delete</a>
                </td>
            </tr>
         }
        </tbody>
    </table>

